/* Home style start */
.home-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.title {
    width: 100%;
    max-width: 1024px;
    font-size: 20px;
}

/* Home style end */