/* Navbar style start */
.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navbar-container {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container__logo {
    font-weight: 500;
}

.container-items__button {
    margin-left: 20px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: #003580;
}

/* Navbar style end*/

/* Header style start*/
.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.header-container {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.header-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-list__item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header-list__item.active {
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.header-title {
    margin-top: 20px;
}

.header-description {
    margin: 20px 0px;
}

.header-button {
    background-color: #0071c2;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
}

.header-search {
    height: 50px;
    background-color: white;
    padding: 10px;
    border: 3px solid #a5a53a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    color: lightgray;
    gap: 4rem;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.header-search__item {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.header-search__item input {
    border: none;
    outline: none;
}

.header-search__button {
    background-color: #0071c2;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
}

.header-search__item span {
    cursor: pointer;
}

.date {
    position: absolute;
    top: 30px;
}


.options {
    position: absolute;
    top: 50px;
    background-color: white;
    -webkit-box-shadow: 3px 9px 17px 12px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 3px 9px 17px 12px rgba(0, 0, 0, 0.11);
    box-shadow: 3px 9px 17px 12px rgba(0, 0, 0, 0.11);
    color: black;
}

.options-item {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.options-item__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-buttons__button {
    width: 30px;
    height: 30px;
    border: 2px solid #0071c2;
    background-color: white;
    cursor: pointer;
}

.item-buttons__button:disabled {
    cursor: not-allowed;
}


/* Header style end*/

/* Featured style start */
.featured {
    display: flex;
    gap: 20px;
    flex: 1;
    width: 100%;
    max-width: 1024px;
}

.featured-item {
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    position: relative;
}

.featured-titles {
    position: absolute;
    bottom: 20px;
    left: 20px
}

/* Featured style end */
.propertyList {
    display: flex;
    width: 100%;
    max-width: 1024px;
    flex-wrap: wrap;
    gap: 1rem;
}

.propertyList-item {
    height: 250px;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
}

.propertyList-item img {
    width: 100%;
    cursor: pointer;
    height: 70%;
    object-fit: cover;
}

.propertyList-item h1 {
    font-size: 20px;
    margin: 5px 0px;
}

.propertyList-item h2 {
    font-size: 14px;
    color: rgb(94, 88, 88);
}

/* PropertyList style start */

/* FeaturedPrototype style start */
.fp {
    display: flex;
    width: 100%;
    max-width: 1024px;
    gap: 1rem;
}

.fp-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.fp-img {
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.fp-name {
    font-size: 16px;
    font-weight: bold;
}

.fp-city {
    color: #333;
    font-size: 14px;
}

.fp-rating {
    display: flex;
    align-items: center;
}

.fp-rating>span {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.fp-rating button {
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: #003580;
    border: none;
    outline: none;
    font-weight: bold;
}
/* FeaturedPrototype style end */